/* https://www.google.com/search?q=how+to+place+first+element+on+the+second+place+from+the+top&rlz=1C1CHBF_enSK883SK883&oq=how+to+place+first+element+on+the+second+place+from+the+top&aqs=chrome..69i57j33i160.17568j0j7&sourceid=chrome&ie=UTF-8 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h3 {
    padding-bottom:1rem;
}

.container {
    margin: 0px auto;
    min-height: 100vh;
    background: rgba(71,71,71,1);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:floralwhite; 
    font-family: 'SourceCodeProRegular';
    font-size: smaller;
    max-width: 1300px;
}

.header1{
    box-sizing: content-box;
    position: sticky;
    top: 0;
    display: block;
    max-width:inherit;
    background: /*linear-gradient(to bottom, rgba(168,167,167,1) 0%, rgba(168,167,167,1) 11%, rgba(204,82,122,0.4) 20%, rgba(232,23,93,0.3) 27%, rgba(71,71,71,1) 43%, rgba(71,71,71,1) 100%); */
    /*hack for fixed on viewport bacground*/
    /* https://css-tricks.com/the-fixed-background-attachment-hack/ */
    linear-gradient(to bottom, rgba(168,167,167,1) 20%,  rgba(204,82,122,0.8) 40%,  rgb(204,82,122,1) 60%, rgb(107, 58, 85) 90%, rgba(71,71,71,1) 100%); 
    margin-bottom: 0.5rem;
    height: min(17vw, 18vh);
    padding-bottom: 1vh;
    z-index: 1;
}

/* https://stackoverflow.com/questions/6529421/hide-scrollable-content-behind-transparent-fixed-position-divs-when-scrolling-th */

.header1 h2 {
    display: inline-block;
    /* white-space: wrap; */
    max-width: 30%;
    line-height: 1em;
    padding: 0 0rem 0 2vw;
    padding-top: min(2vh, 2vw);
    color: rgba(51,51,51,1);
    font-family:'pacfontregular';
    font-size: min(7vw, 7vh) ;
}

.golf{
    /* max-height: min(17vw, 17vh); */
    max-height: calc(min(14vw, 14vh) + min(2vh, 2vw));
    max-width: 40%;
    display:block;
    float: right;
}

.history, .techdata, .whymk2, .whatchout {
    box-sizing: content-box;
    width: max(93%);
    display:inline-block;
    padding: 3vw 3vw 1vh 3vw;
    text-align:left;
    min-width: 80px;
}

.table1 { 
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    line-height: 1.8em;
    overflow: hidden;
}

    
.tableheaders {
    box-sizing: content-box;
    min-width: 180px;
    padding-left: 3px;
    padding-right: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
   
}


.tableheaders td {
    border-bottom: 1px solid #FF00FF;
    white-space: nowrap;
    min-width: 180px;
}

.tablecontent {
    /* position: relative; ***************/
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    /* in order to display whole info */
    min-width: 300px;
}

.tablecontentspec {
    /* https://usefulangle.com/post/351/css-flex-fixed-width-item */    
    display:flex; 
    margin-bottom: -2px;
    width: 95%;
    flex-wrap: nowrap;
    /* float: right; */
}



.tablecontentspeccolumn {
    /* flex-basis: 150px;
	flex-grow: 0;
	flex-shrink: 0;  */
    min-width: 195px;
    flex: 1 1 auto;
    overflow: hidden;
    scroll-snap-align: start;
}

.tablecontentspeccolumn td{
    /* max-width: 150px; */
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #FF00FF;  
}


.tablecontentcommon {
    position: sticky;
    width: 100%;
    left: 0px;
    overflow: hidden;
}

.common {
    width: 100%;
    overflow: hidden;
}

.tablecontentcommon td{
    border-bottom: 1px solid #FF00FF;
    white-space: nowrap;
    text-align: center;
}

/* .common {
    display: block;
} */

/* .tablecontentcolumn td{
    border-bottom: 1px solid #FF00FF;
    width: 100px;
    overflow: hidden;
} */

.footer{
    box-sizing: content-box;
    background: rgba(51, 51, 51, 1);
    max-height: min(70px, 15vh);
    overflow: hidden;
    margin-top: 4vh;
    padding-top: 1rem;
    padding-bottom: 4vh;
    
}



@media screen and (max-width: 600px) {
    .table1 {
        display: grid; 
        font-size: smaller;
        line-height: 1.8em;
        width: 95vw;
    }
        
    
 }


 /*code for safary*/
@media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) and       (stroke-color:transparent) {
        .container { 
            background:-webkit-linear-gradient(to bottom, rgba(168,167,167,1) 0%, rgba(168,167,167,1) 11%, rgba(204,82,122,0.4) 20%, rgba(232,23,93,0.3) 27%, rgba(71,71,71,1) 43%, rgba(71,71,71,1) 100%);
            /* https://css-tricks.com/the-fixed-background-attachment-hack/ */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-color: grey;
            background-size: cover;
        }
    }
}


    /* 
    .header1{
        box-sizing: content-box;
        position: sticky;
        top: 0;
        display: block;
        max-width:inherit;
        margin-bottom: 0.5rem;
        height: min(17vw, 17vh);
        padding-bottom:5px;
    }
    
    /* https://stackoverflow.com/questions/6529421/hide-scrollable-content-behind-transparent-fixed-position-divs-when-scrolling-th */
    
    /* .header1 h2 {
        display: inline-block;
        max-width: 60%;
        line-height: 1em;
        padding: 0 0rem 0 3vw;
        padding-top: min(2vh, 2vw);
        font-size: min(8vw, 8vh); 
    }
    
    .golf{
        max-height: min(17vw, 17vh);
        max-width: 40%;
        display:block;
        float: right;
    }

    .table1 { 
        display: none;
      }
} */ 

